body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ececec;
  align-items: center;
}

h2,
h1,
p,
h5,
h4 {
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: #6a6a6a;
}

img {
  display: block;
  margin: 0 auto;
}
